html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.form-errors ul,
.form-field-error {
	background-color: #fee;
	border: 1px solid #c00;
	color: #c00;
	list-style-type: none;
	margin: 1em 0;
	padding: .5em;
}
.form-errors ul li {
	margin: .33em 0;
}
.layout-container {
	float: left;
	height: 100%;
	overflow: auto;
}
.layout-main {
	background-color: #fcc;
	float: none;
	margin: 0 250px 0 160px;
}
.layout-nav {
	background-color: #cfc;
	width: 160px;
}
.layout-secondary {
	background-color: #ccf;
	float: right;
	width: 250px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: .25em;
}