.test-view {
	font-family: Arial, Helvetics, sans-serif;
	font-size: 80%;
	margin: 1em 0;
}

.test-view-progress table,
.test-view-summary table {
	border-collapse: collapse;
	font-size: 1em;
}

.test-view-progress table {
	width: 100%;
}

.test-view-progress caption,
.test-view-summary caption {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0;
	padding: 0 0 .2em 0;
	text-align: left;
}

.test-view-progress td,
.test-view-progress th,
.test-view-summary td,
.test-view-summary th {
	border: 1px solid #999;
	padding: 3px;
	vertical-align: top;
}

.test-view-progress .test-view-progress-status {
	width: 5.5em;
}

.test-view-progress td.test-view-progress-status {
	white-space: nowrap;
}

.test-view-progress td.test-view-progress-elapsedTime,
.test-view-progress td.test-view-progress-failedAssertions,
.test-view-progress td.test-view-progress-passedAssertions,
.test-view-progress td.test-view-progress-totalAssertions,
.test-view-progress tfoot th.test-view-progress-elapsedTime,
.test-view-progress tfoot th.test-view-progress-failedAssertions,
.test-view-progress tfoot th.test-view-progress-passedAssertions,
.test-view-progress tfoot th.test-view-progress-totalAssertions,
.test-view-progress thead th.test-view-progress-elapsedTime,
.test-view-progress thead th.test-view-progress-failedAssertions,
.test-view-progress thead th.test-view-progress-passedAssertions,
.test-view-progress thead th.test-view-progress-totalAssertions {
	text-align: right;
}

.test-view-progress tr.test-status-failed td {
	background-color: #fee;
	border-color: #f00;
	color: #f00;
	font-weight: bold;
}

.test-view-progress td.test-view-progress-failureMessage {
	font-family: Monaco, Consolas, Mono, "Courier New", Courier, monospace;
}

.test-view-progress td.test-view-progress-failureMessage ol {
	margin-bottom: -.5em;
	margin-top: -.5em;
}

.test-view-progress td.test-view-progress-failureMessage ol li {
	margin: .5em 0;
}

.test-view-progress tr.test-status-inProgress td {
	background-color: #eef;
	border-color: #009;
	color: #009;
}

.test-view-progress tr.test-status-passed td {
	background-color: #efe;
	border-color: #090;
	color: #090;
}

.test-view-progress tr.test-status-pending td {
	color: #777;
}

.test-view-progress tr.test-status-timedOut td {
	background-color: #ffc;
	border-color: #960;
	color: #960;
	font-weight: bold;
}

.test-view-progress thead th,
.test-view-summary thead th {
	background-color: #efefef;
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	white-space: nowrap;
}

.test-view-progress tfoot th {
	background-color: #efefef;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.test-view-progress tfoot th.test-view-progress-assertions,
.test-view-progress thead th.test-view-progress-assertions {
	text-align: center;
}

.test-view-summary .test-view-summary-indicator {
	background: #036 url( images/test-summary-bar-top.png ) repeat-x scroll 0 0;
}

.test-view-summary .test-view-summary-indicator2 {
	background: transparent url( images/test-summary-bar-bottom.png ) repeat-x scroll 0 100%;
}

.test-view-summary td.test-view-summary-indicatorBox {
	background-color: #036;
	color: #fff;
	padding: 0;
}

.test-view-summary-indicator {
	background-color: #ccc;
}

.test-view-summary-indicator2 {
	line-height: 22px;
	text-indent: 3px;
}

