<!DOCTYPE HTML>
<html>
	<head>
		<title>Testing CompositeTemplate.js</title>
		<script type="text/javascript" src="../../src/views/Template.js"></script>
		<script type="text/javascript" src="../../src/views/CompositeTemplate.js"></script>
		<script type="text/javascript" src="./compositeView.data.js"></script>
	</head>
	<body>
		<div id="view" style="display: none">
			<h1>${name} {${id}}</h1>
			<dl>
				<dt>Age</dt>
				<dd>${age}</dd>
				
				<dt>Position</dt>
				<dd>${position.title}</dd>
				
				<dt>Salary</dt>
				<dd>${position.salary}</dd>
				
				<dt>Salary</dt>
				<dd>${position.salary}</dd>
				
				<dt>Location</dt>
				<dd>${position.location}</dd>
				
				<dt>Contact:</dt>
				<dd>${contact}</dd>
			</dl>
			
			<table border="1" cellspacing="0" cellpadding="3">
				<caption>Projects</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<!-- ${projects} -->
				</tbody>
			</table>
		</div>
		
		<div style="display: none">
			<table>
				<tbody id="view-projects-row">
					<tr>
						<td>${name}</td>
						<td>${cost}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<script type="text/javascript">
			var template = new CompositeTemplate(document.getElementById("view"));
			
			var contactTemplate = new Template([
				'${phone}<br>',
				'${email}<br>',
				'${address1}<br>',
				'${address2}<br>',
				'${city}, ${region} ${postalCode}'
			].join(""));
			
			var projectTemplate = new Template(document.getElementById("view-projects-row"));

			template.addTemplate("contact", contactTemplate);
			template.addTemplate("projects", projectTemplate);
			
			var start = new Date();
			document.write(template.render(data));
			document.write("<p>Render time: " + (new Date().getTime() - start.getTime()) + " ms</p>");
		</script>
	</body>
</html>
